@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #1a191f;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 60px;
}

.header__logo {
  font-size: 32px;
  text-decoration: none;
  color: #fff;
}

.header__search {
  padding: 8px;
  border: 2px solid #1a191f;
  border-radius: 5px;
  outline: none;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie {
  width: 240px;
  margin: 10px;
  position: relative;
  background-color: rgb(49, 78, 85);
  border-radius: 3px;
}

.movie__cover-inner {
  position: relative;
  height: 360px;
}

.movie__cover {
  max-width: 100%;
  height: 100%;
}

.movie__cover--darkened {
  background-color: black;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
}

.movie__cover--darkened:hover {
  background-color: grey;
  cursor: pointer;
}

.movie__info {
  padding: 10px 10px;
}

.movie__title {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}

.movie__category {
  font-size: 14px;
  color: #ffd80e;
}

.movie__average {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a191f;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.movie__average--green {
  border: 4px solid green;
}

.movie__average--orange {
  border: 4px solid orange;
}

.movie__average--red {
  border: 4px solid red;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media (max-width: 450px) {
  .container {
    max-width: 450px;
  }

  .movie {
    width: 180px;
    margin: 7px 0px;
  }

  .movie__cover-inner {
    height: 280px;
  }

  .movie__average {
    width: 40px;
    height: 40px;
    font-size: 12px;
  }

  .movie__title {
    font-size: 14px;
  }

  .movie__category {
    font-size: 13px;
  }

  .movie__average--green {
    border: 2px solid green;
  }

  .movie__average--orange {
    border: 2px solid orange;
  }

  .movie__average--red {
    border: 2px solid red;
  }
}
